html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A2A3A;
    height: 40vw;
}

#Bio {
    background-color: #2D415580;
    width: 40%;
    height: 60%;
    font-family: Helvetica;
    color: white;
    padding: 5cqb;
    box-shadow: 4px 4px 3px #164b46;
}

#Bio h1{
    font-size: 36px;
}

hr {
    width: 300px;
}

#Intro {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 15vw;
    padding: 3%;
}

#Intro h2 {
    font-size: 36px;
}

.project {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    gap: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.repo {
    display: flex;
    align-items: baseline;
    margin: 5%;
}

.blurb {
    display: flex;
    align-items: flex-end;
    padding: 5%;
    padding-top: 15%;
}

.video {
    border: 10px double #1A2A3A;
    border-radius: 5px;
}

a:link {
    color: #1A2A3A;
}

a:visited {
    color:#164b46;
}